/* 
    Document   : art-request
    Created on : Sep 28, 2012, 11:02:21 AM
    Author     : Nikesh Hajari
    Description:
        Purpose of the stylesheet follows.
*/

body {
	background: #FFAC30;
}


label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.required-star{
    color: red;
}

.indent-checkbox-group{
    margin-left: 20px;
}

#flyer-request-container, #banner-request-container{
    display: none;
}

header .logo {
	background: #FFF url(img/idbar-orange.gif) no-repeat;
	height: 200px;
	width: 200px;
}

