/* 
    Document   : art-request
    Created on : Sep 28, 2012, 11:02:21 AM
    Author     : Nikesh Hajari
    Description:
        Purpose of the stylesheet follows.
*/

.future_step { 
    display: none;
}

